<mat-toolbar class="toolbar" color="primary">
  <span class="toolbar-title">TAREFAS</span>
</mat-toolbar>

<div class="kanban-board">
  <div
    class="coluna"
    *ngFor="let status of ['pendente', 'andamento', 'concluido']"
  >
    <mat-card class="coluna-card">
      <mat-card-header>
        <mat-card-title>{{ status | uppercase }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div
          class="tarefa"
          *ngFor="let tarefa of tarefas | filterByStatus : status"
          [ngClass]="status"
        >
          <mat-icon>
            {{ tarefa.obrigacaoId ? "attach_money" : "description" }}
          </mat-icon>
          <div class="tarefa-info">
            <strong>{{ tarefa.titulo }}</strong
            ><br />
            <small>Vencimento: {{ tarefa.vencimento }}</small>
          </div>
          <button
            mat-icon-button
            color="primary"
            (click)="alternarStatus(tarefa)"
            [title]="
              status === 'pendente' ? 'Concluir tarefa' : 'Desfazer conclusão'
            "
          >
            <mat-icon>{{
              status === "concluido" ? "undo" : "check_circle"
            }}</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
