/* Toolbar */
.toolbar {
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.toolbar-title {
  text-align: center;
}


.task-column {
  flex: 2;
}

/* Kanban */
.kanban-board {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

/* Cards de empresa */
.empresa-coluna {
  width: 320px;
}

.empresa-card {
  background-color: #fdfdfd;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 300px; 
}

/* Estilo geral de tarefa */
.tarefa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 14px 0;
  border-radius: 8px;
  background-color: #fff9c4;
  transition: background-color 0.3s ease;
}

/* Tarefa pendente */
.tarefa.pendente {
  background-color: #fff3e0;
}

/* Tarefa concluída */
.tarefa.concluido {
  background-color: #d0f0f0;
  text-decoration: line-through;
}

/* Informações da tarefa */
.tarefa-info {
  flex: 1;
  margin-left: 8px;
}

/* Ícones */
mat-icon {
  font-size: 22px;
}

/* Filtros e botões */
.filtros {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  align-items: center;
}

.filtros-empresa {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Botão flutuante de adicionar */
.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.kanban-column {
  width: 320px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
}
