  
  <div class="form-container">
    <mat-card class="custom-card">
      <mat-card-title class="title-center">Nova Obrigação</mat-card-title>
      <mat-divider class="mat-divider-margin"></mat-divider>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid" autocomplete="off">
        <div class="form-fields">
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>assignment</mat-icon>
            <mat-label>Nome da Obrigação</mat-label>
            <input matInput formControlName="nome" />
            <mat-error *ngIf="form.get('nome')?.hasError('required') && form.get('nome')?.touched">
              Nome é obrigatório
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>business</mat-icon>
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamento">
              <mat-option value="Fiscal">Fiscal</mat-option>
              <mat-option value="Jurídico">Jurídico</mat-option>
              <mat-option value="Contábil">Contábil</mat-option>
              <mat-option value="RH">RH</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('departamento')?.hasError('required') && form.get('departamento')?.touched">
              Selecione um departamento
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>category</mat-icon>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipoObrigacao">
              <mat-option value="I">Imposto</mat-option>
              <mat-option value="D">Declaração</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="photo-fields">
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>public</mat-icon>
            <mat-label>Esfera</mat-label>
            <mat-select formControlName="esfera">
              <mat-option value="F">Federal</mat-option>
              <mat-option value="E">Estadual</mat-option>
              <mat-option value="M">Municipal</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>event</mat-icon>
            <mat-label>Data de Vencimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="vencimento" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>check_circle</mat-icon>
            <mat-label>Ativa?</mat-label>
            <mat-select formControlName="statusAtivaNao">
              <mat-option value="S">Sim</mat-option>
              <mat-option value="N">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="full-width-options">
          <mat-checkbox formControlName="antecipa">Antecipa?</mat-checkbox>
          <mat-checkbox formControlName="prorroga">Prorroga?</mat-checkbox>
        </div>
  
        <div class="button-container full-width">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            <mat-icon>check</mat-icon>
            Cadastrar
          </button>
          <button mat-raised-button color="warn" type="button" (click)="cancelar()">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  